h5{
  color: rgb(82, 72, 72);
}

.container {
  background: rgb(22, 20, 20);
  top: 50%;
  left: 50%;
  right: 50%;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
  margin: 0 auto;
  width: 300px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  /* margin-bottom: 50px; */
}

.keys-1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(40px, auto);
}

.keys-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: minmax(40px, auto);
}

input{
  height: 45px;
  display: inline-block;
  width: 296px;
  overflow: hidden;
  background-color: rgb(82, 72, 72);
  border: none;
  outline: none;
  /* color: aliceblue; */
  text-align: right;
  font-size: 20px;
  font-weight: 500;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}